:root {
  --light-purple: #fafbff;
  --dark-purple: #6047fa;
  --teal: #1cc5bc;
  --red: #e44646;
  --purple: #6849fc;
  --orange: #f38438;
  --purple-gradient: linear-gradient(
    -136deg,
    #714bfe 9%,
    #6047fa 55%,
    #5727e1 100%
  );
  --text-purple: #1f346c;
  --text-purple-gray: #627098;
  --text-teal: #1cc5bc;
  --text-black: #161b2a;
  --text-light-gray: #b5baca;
  --text-darker-gray: #9b9b9b;
  font-size: 16px;
}
