/*
Style with support for rainbow parens
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background-color: #f7f8fb;
  color: var(--text-purple-gray);
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-comment,
.hljs-quote {
  color: var(--text-light-gray);
  font-style: italic;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-type,
.hljs-addition {
  color: var(--dark-purple);
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-number,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #4223b9;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-string,
.hljs-doctag,
.hljs-regexp {
  color: var(--text-gray);
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-title,
.hljs-name,
.hljs-section,
.hljs-built_in {
  color: #16e4a4;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-variable,
.hljs-template-variable,
.hljs-selector-id,
.hljs-class .hljs-title {
  color: var(--text-purple);
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-section,
.hljs-name,
.hljs-strong {
  font-weight: bold;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-link {
  color: #e44646;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-deletion {
  color: #06b37d;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-formula {
  background: #eee8d5;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-attr,
.hljs-attribute {
  color: var(--text-gray);
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}

.hljs-emphasis {
  font-style: italic;
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace;
}
