.markdown > h2,
.markdown > h1 {
  font-family: Lato;
  font-size: 1.8rem;
  color: var(--text-purple-gray);
  margin: 1rem 0;
}

.markdown > h2 > a,
.markdown > h1 > a {
  font-family: Lato;
  font-size: 1.8rem;
  color: var(--text-purple);
  margin: 1rem 0;
}
.markdown > h3 {
  font-family: Lato;
  font-size: 1.6rem;
  color: var(--text-black);
  margin: 1rem 0;
}

.markdown > ul > li {
  font-family: Lato;
  color: var(--text-purple-gray);
}

.markdown > ul > li > a {
  font-family: Lato;
  color: var(--text-teal);
}

.design-markdown > ul > li > .lead {
  color: var(--text-purple-gray);
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
}

.design-markdown > ul > li {
  color: var(--text-purple);
  font-family: Lato;
  font-size: 16px;
  line-height: 19px;
  margin: 10px 0;
}

.design-markdown > h2 {
  color: var(--text-purple);
  font-family: Lato;
  font-size: 32px;
  line-height: 39px;
  margin: 17px 0;
  font-weight: 400;
}
